
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    <h3>Part 1</h3>

    First Name: <input type="text" name="txtFistName" data-bind="value: FirstName"/><br/>
    Last Name: <input type="text" name="txtLastName" data-bind="value: LastName"/><br />

    <p>Hello <span data-bind="text: FullName"></span></p>
*@
<style>
    .selected
    {
        color: red;
    }

</style>

<h3>Part 2</h3>
<h4>Account Demo</h4>
Account ID:
<select id = "ddListAccount" data-bind="options:Accounts, optionsText:'Name', optionsValue:'Id'"></select>
Total Accounts: <span data-bind="text: Accounts().length"></span><br/>
Total Balances: <span data-bind="text: TotalBalance()"></span>
<hr/>
<h3>Selected Account Details</h3>
Id: <span data-bind="text: Accounts()[SelectedAccountIndex()].Id"></span><br/>
Name: <span data-bind="text:  Accounts()[SelectedAccountIndex()].Name"></span><br />
Balance: <span data-bind="text:  Accounts()[SelectedAccountIndex()].Balance"></span><br />
<input type="button" id="btnShowDetails" value="Show Details" />
Amount: <input type="text" id="txtAmount" />
<input type="button" id="btnDeposit" value="Deposit" />
<hr/>
New Balance: <input type="text" data-bind="value: Balance()"/>
<hr />
New Id: <input type="text" id="txtNewId" /><br/>
New Name:<input type="text" id="txtNewName" /><br/>
New Balance:<input type="text" id="txtNewBalance"/><br/>
<input type="button" id="btnNewAccount" value="Add Account" />
<input type="button" id="btnRemoveAccount" value="Remove Account" />

<hr/>
<input type="checkbox" name="showSection" data-bind="checked: showHideSection"/> Show / Hide
<div data-bind="if:showHideSection " id="sectionDiv">
    This is a block
</div>
<div data-bind="visible:showHideSection " id="sectionDiv2">
    This is a block 2
</div>

<button onclick="alert(document.getElementById('sectionDiv').innerHTML)">Show div</button>
<button onclick="alert(document.getElementById('sectionDiv2').innerHTML)">Show div2</button>
<div>
    <ul>
        <li>
            This item always appear
        </li>
        <!--ko if: showHideSection-->
        <li>
            This appear / disappear dynamically
        </li>
        <!--/ko -->
    </ul>

</div>
<hr/>
<div data-bind="with: Phone">
    Home Phone: <span data-bind="text: home"></span>
    Office Phone: <span data-bind="text: office"></span>
</div>

<hr/>
<ul data-bind="foreach : Colors">
    <li data-bind="text: $data"></li>

</ul>
<table data-bind="foreach: {data: Accounts2, as: 'Account3'}">
    <tr style="cursor:pointer" data-bind="click: $parent.SelecteAccount, css:{selected:(Account3.Id == ($parent.SelectedAccount() == null?-1:$parent.SelectedAccount().Id))} ">
       <td data-bind="text: Account3.Id"></td>
        <td data-bind="text: Account3.Name"></td>
        <td data-bind="text: Account3.Balance"></td>
        <td>
            <ul data-bind="foreach:{data: Deposits, as: 'Amount'}">
                <li data-bind="text: (Account3.Name + ' Deposited ' + Amount)"></li>
            </ul>

        </td>
        <td data-bind="text: $parent.Count()"></td>
        <td><button data-bind="click: $parent.SelecteAccount, clickBubble: false">Select</button></td>
        <td><button data-bind="click: $parent.DeleteAccount, clickBubble: false">Delete</button></td>

    </tr>

</table>
<input type="text" data-bind="value: AmountToDeposit"/>
<button data-bind="click: Deposit">Deposit</button>